@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu+Condensed&display=swap');

body {
  font-family: 'Ubuntu Condensed', sans-serif;
}

li {
  display: inline;
  margin: 20px;
}

img {
  width: 50%;
  height: 50%;
}