*{
    margin-top: 0;
    padding: 0;
    grid-template-areas: "title . nav nav nav . login";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

ul {
    justify-content: center;
}

.headerTitle {
    font-size: 35px;
    color: black;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #55D6BE;
    position: relative;
    margin: 0 0 0 0;
    grid-area: title;
}

.headerSubtitle{
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.header {
    overflow:hidden;
    background:#95ACC0;
    display: grid;
}

.nav {
    
    align-items: center;
    grid-area: nav;
    margin-top: 20px;
}

.login {
    justify-content: center;
    grid-area: login;
}

.nav ul li {
    padding: 25px;
    transition: all .5s ease;
}

.nav ul li:hover{
    border:  2px solid black;
    background: #94A7BF;
}

.between {
    border-bottom: 3px solid black;
}

h1 {
    margin-bottom: 0px;
}

#loginButton {
    margin-left: 50px;
}