.recommendedGamesList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
}

.recommendedGamesCard {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    border: 4px solid black;
    margin-bottom: 20px;
    width: 275px;
    height: 300px;
    border-radius: 25px;
    box-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.inner {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center; 
        box-sizing: border-box;
        padding: 10px;
        flex-wrap: wrap;
}

/* .image-container { width:250px; height: auto;} */

.image-container img {
    width:100%;
    height: auto;
    overflow:auto;
}

.gameTitle {
    font-size: 23px;
    color: black;  
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #55D6BE;
    position: relative;
    margin: 0 0 15px 0;
}

.gameRating {
    text-align: center;
    font-size: 18px;
    color: #95ACC0;
}

h2 {
    font-size: 40px;
    text-shadow: 0px 2px 2px #55D6BE;  
    /* margin: 15px; */
    margin-left: 175px;
    margin-bottom: -25px;
}